<div class="center">
  <div class="innerCenter">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Contact</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <p>Email: poczta@p.lodz.pl</p>
        <p>Address: Politechnika Łódzka 90-924 Łódź, ul. Żeromskiego 116</p>
        <p>Phone: (48) (42) 631 29 29</p>
      </mat-card-content>
      <mat-card-actions class="error">
        <button mat-button (click)="openDialog()">Report error</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
