.center{
  text-align: center;
}
.innerCenter{
  width: 600px;
  margin: 200px auto 0px;
  text-align: left;
}
.error{
  color: red;
}
.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}
.content{
  font-size: 17px;
}
.highlight{
  font-size: 20px;
  font-weight: bold;
}
